@import './../../styles/sass/mixins.scss';
@import './../../styles/sass/vars.scss';

.wrap{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    .icon{
        margin-right: 10px;
    }
    .text{
        @include text(14px, 500, 20px)
    }
}
