@import './../../styles/sass/mixins.scss';
@import './../../styles/sass/vars.scss';


.photographer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    .photo {
        position: relative;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .mane {
            @include text(18px, 500, 22px);
        }
        .text {
            @include text(14px, 400, 21px);
            margin: 7px 0 7px 0;
        }
        .link {
            text-align: center;
            @include text(14px, 500, 21px);
            color: $linkColor;
            width: 229px;
        }
    }
    .like {
        position: absolute;
        top: 3px;
        right: 0;
        transform: translateY(-50%);
        @include media (xs) {
            right: 107px;
        }
        @include media (sm) {
            right: 186px;
        }
        @include media (md) {
            right: -34px;
        }
    }
}