@import './../../styles/sass/mixins.scss';
@import './../../styles/sass/vars.scss';


.photographer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 63px 0 25px 0;
    @include media (sm) {
        margin: 56px 0 30px 0;
    }
    @include media (md) {
        margin: 68px 0 30px 0;
    }
    .photo {}
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;
        .mane {
            @include text(18px, 500, 22px);
        }
        .text {
            @include text(14px, 400, 21px);
            margin: 7px 0 7px 0;
        }
        .link {
            text-align: center;
            @include text(14px, 500, 21px);
            color: $linkColor;
            width: 229px;
        }
    }
    .like {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
    }
}