@import '../../../../styles/sass/mixins.scss';
@import '../../../../styles/sass/vars.scss';

.footerBottomSmall {
    padding-top: 26px;
    @include media (xs) {
        display: none;
    }
    .container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        .inner {
        .payment {
            .imgPayment {
                margin-right: 17px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .lang {
            position: relative;
            @include media (md) {
                display: inline-block;
            }
            & select {
                display: block;
                background: none;
                border: none;
                padding-right: 32px;
                appearance: none;
                @include text (15px, 400, 18px);
                color: $textColor;
                cursor: pointer;
                outline: 0;
            }
            &::after {
                content: "";
                display: block;
                background-image: url("./../../../../assets/img/Gallery/Arrow.png");

                width: 11px;
                height: 6px;

                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);

                pointer-events: none;
            }
        }
    }
    .footerInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footerPhoneNumber {
            @include text(14px, 400, 17px);
            color: #B3B3B3;
            margin-bottom: 10px;
        }
        .footerCopyright {
            @include text(14px, 400, 17px);
            color: #B3B3B3;
        }
    }
}
}