@import './../../../styles/sass/vars.scss';
@import './../../../styles/sass/mixins.scss';

.main {
    background-image: url(./../../../assets/img/bgMain.jpeg);
    color: $primaryColor;
    background-size: cover;
    background-position: 62% center;
    .container {
        @extend %container;
        .inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 655px;
            @media screen and (min-width: 768px) {
                height: 840px;
            }
            .title{
                @include text(32px, 700, 39px); 
                max-width: 247px;
                @media screen and (min-width: 768px) {
                    @include text(40px, 700, 49px); 
                    max-width: 597px;
                }
                @media screen and (min-width: 1280px) { 
                    max-width: 887px;
                }
                span {
                    color: $accentColor;
                }
            }
            .priceBox {              
                background-image: url(./../../../assets/img/price-box.svg);
                height: 86px;
                width: 200px;
                background-repeat: no-repeat;
                margin: 36px 0 14px;
                display: flex;
                justify-content: space-between;
                padding: 9px 15px 18px 18px;
                background-position-x: -4px;
                @media screen and (min-width: 768px) {
                    height: 95px;
                    width: 225px;
                    padding: 15px 23px;
                    margin: 18px 0 2px;
                    background-size: 242px 104px;
                    background-position-x: -10px;
                    
                }
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    .priceLabel{
                        @include text(18px, 400, inherit); 
                        @media screen and (min-width: 768px) {
                            @include text(20px, 400, 1);
                        }
                    }
                    .price {
                        @include text(30px, 800, inherit);
                        @media screen and (min-width: 768px) {
                            @include text(35px, 800, 1);
                        }
                    }
                }
                .percent {
                    border-radius: 50%;
                    filter: drop-shadow(0px 4px 15px rgba(255, 255, 255, 0.25)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
                    max-height: 47px;
                    margin-top: 8px;
                    @media screen and (min-width: 768px) {
                        max-height: 52px;
                        margin-top: 2px;
                        transform: translateX(-6px);
                    }
                }
            }
        }
    }
}