@import './../../styles/sass/vars.scss';
@import './../../styles/sass/mixins.scss';


.descripttion {
    width: 290px;
    .title {
        @include text(18px, 500, 26px);
        margin-bottom: 13px;
        color: $textColor;
    }
    .text {
        @include text(16px, 400, 24px);
        margin-bottom: 26px;
        color: $textColor;
        white-space: pre-wrap;
    }
    .wrap {
        margin-bottom: 30px;
        .link {
            @include text(16px, 500, 23px);
            color: $linkColor;            
        }
        .arrow {
            margin-left: 10px;
        }
    }
}