@import './../../styles/sass/vars.scss';
@import './../../styles/sass/mixins.scss';


.descripttion {
    width: 290px;
    .title {
        @include text(18px, 500, 26px);
        margin-bottom: 14px;
    }
    .text {
        @include text(16px, 400, 24px);
        margin-bottom: 22px;
    }
    .wrap {
        .link {
            @include text(16px, 500, 23px);
            color: $linkColor;
        }
        .arrow {}
    }
}