@import './../../../styles/sass/vars.scss';
@import './../../../styles/sass/mixins.scss';


.gallery {
    padding: 60px 0 50px 0;
    @include media (md) {
        padding: 70px 0 50px 0; 
    }
    @include media (lg) {
        padding: 30px 0 50px 0; 
    }
    
    .container {
        @extend %container;
        .inner {
            .wrap {
                display: grid;
                grid-template-columns: repeat(8, 275px);
                column-gap: 13px;
                overflow-x: auto;
                @include media (sm) {
                    grid-template-columns: repeat(2, 275px);
                    grid-template-rows: repeat(4, 185px);
                    gap: 13px 13px;
                    justify-content: center;
                    .photo:first-child{
                        grid-row:2/3;
                        grid-column:2/3;
                        // grid-area: ;
                    }
                    .photo:nth-child(2) {
                        grid-row:3/4;
                        grid-column:2/3;
                    }
                    .photo:nth-child(3) {
                        grid-row:1/2;
                        grid-column:2/3;
                    }
                    .photo:nth-child(4) {
                        grid-row:4/5;
                        grid-column:1/2;
                    }
                    .photo:nth-child(5) {
                        grid-row:2/3;
                        grid-column:1/2;
                    }
                    .photo:nth-child(6) {
                        grid-row:3/4;
                        grid-column:1/2;
                    }
                    .photo:nth-child(7) {
                        grid-row:4/5;
                        grid-column:2/3;
                    }
                    .photo:last-child {
                        grid-row:1/2;
                        grid-column:1/2;
                    }
                }
            }
        }
    }
}